

@import url(../fonts/stylesheet.css);


body {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.emr{
	color: white;
	font-family: 'Beyond The Mountains';
	background-color:rgb(189,130,186);
}

#lgn{
	margin: 12% auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color:rgb(189,130,186);
    border-radius: 5%;
}

#lgnbtn{
	background-color:rgb(83,6,118);
	border: none;
	color: white;
	padding:0.5em;
	letter-spacing: 0.05em;
	border-radius: 7%;
}

#fp{
	color: rgb(141,184,254);
}

.lgnlbls{
	color: white;
	margin: 1em;
	letter-spacing: 0.05em;

}


.lgnlbls:hover{
	text-decoration: none;
	cursor: default;
	color: white;
}

.menu{
	width: 100%;
	height: 40px;
	top: 0px;
	margin: 0 auto;
	margin-top: -10px;
	float: center;
	float: bottom;
	position: fixed;
	background-color:rgb(83,6,118);
}

li {
    float: left;
    float: bottom;
    list-style: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;

}

li a:hover{
	color: #507aac;
	text-decoration: none;
}

#active{
	color: #548cd4 !important;
}

#emrlst{
	margin-right: 50px;
	text-decoration: none;
	cursor: default;
}

#emrlst:hover{
	text-decoration: none;
	cursor: default;
	color: white;
}

#emrlst:visited{
	text-decoration: none;
	cursor: default;
	color: white;
}

.tablediv{
	width: 50%;
	margin: 0 auto;
	padding-bottom: 2em;
	background-color:rgb(189,130,186);
	border-radius: 5%;

}

.tablediv3{
	width: 50%;
	margin: 0 auto;
	padding-bottom: 2em;
	background-color:rgb(189,130,186);
	border-radius: 5%;
}

.tablediv2{
	width: 75%;
	margin: 0 auto;
	padding-bottom: 5em;
}

.theader{
	background-color:rgb(189,130,186);
	color: black;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0.1em;
	padding: 5px;
}

.theader2{
	background-color:rgb(189,130,186);
	color: black;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0.1em;
	padding: 5px;
	width: 33%;
}

.collabels3{
	background-color:rgb(189,130,186);
	color: black;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.1em;
	padding: 5px;
	width: 33%;

}

.tble{
	margin-top: 2em !important;
	width: 90%;
	margin: 0 auto;
	background-color:rgb(189,130,186);
	border-radius: 5%;
}



.custinfo{
	background-color:rgb(189,130,186);
	padding-left: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-right:2em;
	color:black;
}

.custinfo2{
	background-color:white;
	padding-left: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-right:2em;
	color:black;
}

input{
	background-color:rgb(189,130,186);
	padding-left: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-right:2em;
}

td{
	color:white;
}

.collabels{
	padding-left: 20px;
	width: 20%;
	text-align: right;
	padding-right: 20px;
	color:black;
}

.tble2{3
	margin-top: 2em !important;
	width: 80%;
	margin: 0 auto;
}
.collabels2{
	padding-left: 20px;
	width: 40%;
	text-align: right;
	padding-right: 20px;
	color:black;
}

.tble3{
	background-color:rgb(189,130,186);
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: white;
}