@import url('../fonts/stylesheet.css');


.login-page{
	background-color: #330055;
}

.emr{
	color: white;
	font-family: 'Beyond The Mountains';

}

#lgn{
	margin: 12% auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

#lgnbtn{
	background-color: #507aac;
	border: none;
	color: white;
	padding:0.5em;
	letter-spacing: 0.05em;
}

#fp{
	color: #507aac;
}

.lgnlbls{
	color:white;
	margin: 1em;
	letter-spacing: 0.05em;

}


.lgnlbls:hover{
	text-decoration: none;
	cursor: default;
	color: white;
}

.menu{
	width: 100%;
	/*margin-top: 5em !important;*/
	background-color: #330055;
}

.mlist{
	width: 80%;
	margin: auto;
}

.menu li {
    float: left;
    list-style: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom: 2px solid black;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.menu li a:hover{
	color: #507aac;
	text-decoration: none;
}

.menu #active{
	color: #548cd4 !important;
}

#emrlst{
	margin-right: 50px;
	text-decoration: none;
	cursor: default;
}

#emrlst:hover{
	text-decoration: none;
	cursor: default;
	color: white;
}

#emrlst:visited{
	text-decoration: none;
	cursor: default;
	color: white;
}

.tablediv{
	width: 75%;
	margin: 0 auto;
	padding-bottom: 5em;
}

.tablediv2{
	width: 75%;
	margin: 0 auto;
	padding-bottom: 5em;
}

.theader{
	background-color: #330055;
	color: white;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0.1em;
	padding: 5px;
}

.theader2{
	background-color: #330055;
	color: white;
	text-align: center;
	font-size: 15px;
	letter-spacing: 0.1em;
	padding: 5px;
	width: 33%;
}

.collabels3{
	background-color: #330055;
	color: white;
	text-align: center;
	font-size: 13px;
	letter-spacing: 0.1em;
	padding: 5px;
	width: 33%;

}

.tble{
	margin-top: 2em !important;
	width: 90%;
	margin: 0 auto;
}



.custinfo{
	background-color: #330055;
	padding-left: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-right:2em;
	color: #fff;
}
input{
	background-color: #330055;
	padding-left: 1em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	margin-right:2em;
}


.collabels{
	padding-left: 20px;
	width: 20%;
	text-align: right;
	padding-right: 20px;
}

.tble2{
	margin-top: 2em !important;
	width: 80%;
	margin: 0 auto;
}
.collabels2{
	padding-left: 20px;
	width: 40%;
	text-align: right;
	padding-right: 20px;
}

.tble3{
	background-color: #330055;
	width: 90%;
	margin: 0 auto;
	text-align: center;
	color: white;
}