@import url(../fonts/stylesheet.css);

:root {
	--primary-color: #7C07C7;
	--secondary-color: #AB82FF;
	--main-font: Montserrat, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: #EEE !important;
	font-family: var(--main-font);
	/*background-image: url(../img/bg.jpg);*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
	/*background-repeat: no-repeat;*/
}

img.bg-lightning {
	position: fixed;
	width: 50%;
	top: 50px;
	left: -10%;
	z-index: -1;
}

div.login-panel {
	background-color: var(--primary-color);
	margin: 200px auto;
	width: 480px;
	padding: 70px 40px;
	border-radius: 4px;
}

div.login-panel h1 {
	color: #FFF;
	margin: 0 0 60px;
	font-family: 'Beyond The Mountains';
	text-align: center;
	font-size: 42px;
}

div.login-panel form {
	padding: 0;
	margin: 0;
	width: 100%;
}

div.login-panel input {
	width: 100%;
	margin: 0;
	border-radius: 2px;
	padding: 10px;
	border: 1px solid #444;
	background-color: #FFF;
}

div.login-panel label {
	color: #FFF;
	font: normal 15px var(--main-font);
	margin: 10px 0;
}

div.login-panel button {
	font: normal 15px var(--main-font);
	width: 100%;
	margin: 20px 0 0;
	padding: 10px 0;
	background-color: #FFF;
	color: var(--primary-color);
	border: 1px solid #444;
}

div.login-panel a.footnote {
	display: block;
	text-align: center;
	margin: 10px 0 0;
	color: #FFF;
}

div.login-panel span.error {
	background-color: #EEE;
	width: 100%;
	display: block;
	padding: 15px;
	border-radius: 2px;
	border: 1px solid #444;
	color: #C6162D;
	font: normal 15px var(--main-font);
	margin: 0 0 20px;
}

nav.menu{
	width: 100%;
	top: 0;
	height: 60px;
	background-color: var(--primary-color);
}

ul.nav-links {
	margin: 0;
	padding: 0;
}

ul.nav-links li {
	font: normal 15px var(--main-font);
	margin: 0;
	display: inline-block;
	list-style: none;
}

ul.nav-links a {
	display: block;
	padding: 0 15px;
	color: #FFF;
	font: bold 15px var(--main-font);
	line-height: 60px;
}

ul.nav-links li:first-child a{
	font: normal 25px 'Beyond the Mountains';
}

/* CONTAINERS */
div.my-container {
	background-color: var(--secondary-color);
	width: 95%;
	padding: 40px;
	margin: 20px auto 0;
	display: block;
	border-radius: 5px;
	overflow: auto;
	color: #222;
}

div.my-container h1 {
	margin: 0 0 30px;
	padding: 0;
	font: bold 30px var(--main-font);
}

div.cust-img {
	padding: 0;
}

div.cust-img img{
	width: 100%;
}

div.cust-info {
	padding: 10px 0 0 40px;
}

table.my-table{
	width: 100%;
}

table.my-table tr td{
	padding: 8px 0;
	color: #333;
	text-align: left;
}

table.my-table tr td:first-child {
	width: 70%;
}

table.no-border tr td,
table.no-border tr th{
	border: none;
	color: #333;
}

table.no-border tr th {
	border-bottom: 1px solid #333;
}

p.realtime-text {
	text-align: right;
	letter-spacing: 1px;
	margin: 5px 0;
}

select.kwh-select {
	width: 100%;
	padding: 5px;
}

form.kwh-form input{
	width: 100%;
	border: 1px solid #333;
	padding: 5px;
}

form.kwh-form input[type='button']{
	margin: 10px 0;
}

div.my-container h2{
	margin: 0 0 10px;
}

div.total-kwh {
	background-color: #EEE;
	width: 100%;
	padding: 50px 30px;
	font: bold 45px var(--main-font);
	border: 1px solid #333;
}

form.estimate-form {
	border-right: 1px solid #333;
	padding-right: 20px;
}

form.estimate-form input{
	width: 100%;
	border: 1px solid #333;
	padding: 5px;
}

form.estimate-form input[type='button'] {
	margin: 10px 0;
}

div.large-text {
	background-color: #EEE;
	padding: 20px;
	font: bold 30px var(--main-font);
	margin: 0 0 5px;
}

.ct-line {

  stroke: #fff !important;

  stroke-width: 3px;
  

}

.ct-point {

  stroke: #fff !important;

  stroke-width: 20px;

}